<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Birdcage" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div>
      <nav class="bg-gray-800" x-data="{ isOpen: false }">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
          <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <img src="<%= Routes.static_path(@conn, "/images/birdcage-white.svg") %>" class="w-12 h-12" alt="Logo"/>
              </div>
              <div class="hidden md:block">
                <div class="flex items-baseline ml-10">
                  <%= link "Home", to: Routes.dashboard_path(@conn, :index), class: "px-3 py-2 rounded-md text-sm font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700" %>
                  <%= if function_exported?(Routes, :swagger_ui_path, 2) do %>
                    <%= link "Swagger UI", to: Routes.swagger_ui_path(@conn, [path: "/api/openapi"]), class: "ml-4 px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
                  <% end %>
                  <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                    <%= link "Observer", to: Routes.live_dashboard_path(@conn, :home), class: "ml-4 px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
                  <% end %>
                </div>
              </div>
            </div>
            <%= if Birdcage.Application.authentication_enabled? do %>
              <div class="hidden md:block">
                <div class="flex items-center ml-4 md:ml-6">
                  <div class="relative ml-3">
                    <div>
                      <%= if Plug.Conn.get_session(@conn, :user_name) do %>
                        <%= link Plug.Conn.get_session(@conn, :user_name), to: Routes.session_path(@conn, :logout), class: "ml-4 px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
                      <% else %>
                        <%= link "Sign in", to: Routes.session_path(@conn, :authenticate), class: "ml-4 px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="flex -mr-2 md:hidden">
              <!-- Mobile menu button -->
              <button @click="isOpen = !isOpen" class="inline-flex items-center justify-center p-2 text-gray-400 rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white">
                <!-- Menu open: "hidden", Menu closed: "block" -->
                <svg class="block w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                <!-- Menu open: "block", Menu closed: "hidden" -->
                <svg class="hidden w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
        </div>

        <!--
          Mobile menu, toggle classes based on menu state.

          Open: "block", closed: "hidden"
        -->
        <div x-show="isOpen" class="md:hidden">
          <div class="px-2 pt-2 pb-3 sm:px-3">
            <%= link "Home", to: Routes.dashboard_path(@conn, :index), class: "block px-3 py-2 rounded-md text-base font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700" %>
            <%= if function_exported?(Routes, :swagger_ui_path, 2) do %>
              <%= link "Swagger UI", to: Routes.swagger_ui_path(@conn, [path: "/api/openapi"]), class: "mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
            <% end %>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <%= link "Observer", to: Routes.live_dashboard_path(@conn, :home), class: "mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
            <% end %>
          </div>
          <%= if Birdcage.Application.authentication_enabled? do %>
          <div class="pt-4 pb-3 border-t border-gray-700">
            <div class="flex items-center px-5">
              <div class="ml-3">
                <%= if Plug.Conn.get_session(@conn, :user_name) do %>
                  <%= link Plug.Conn.get_session(@conn, :user_name), to: Routes.session_path(@conn, :logout), class: "mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
                <% else %>
                  <%= link "Sign in", to: Routes.session_path(@conn, :authenticate), class: "mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </nav>
      <%= @inner_content %>
    </div>
  </body>
</html>
